<button class="btn btn-primary" [disabled]="!allowAddNewServer" (click)="onCreateServer()">Add new server</button>
<!--<p [innerText]="allowAddNewServer"></p>-->
<br/>
<label>Server Name:</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--<p>{{ serverStatusText }}</p>-->
<p *ngIf="isCreatedServer else noServerCreated">Server was created and server name is : {{ serverName }}</p>
<ng-template #noServerCreated>
  <p>No server was created yet!</p>
</ng-template>
<app-server></app-server>
