h3 {
  color: #06689a;
  font-weight: bold;
}

.btn {
  height: 30px;
  line-height: 16px;
  width: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.btn-inc {
  background-color: #07880e;
}

.btn-dec {
  background-color: #ff1100;
}